.container{
  margin-top: 110px;
  text-align: center;
    
}
.card{
    display:inline-block;
     overflow: hidden;
     width: 200px;
     margin: 5px;
     background-color: rgb(191, 192, 192);
     text-align: center;
     border-radius: 15px; 
     opacity: 0.9;
  } 
  .card:hover{
    transform: scale(0.9);
  }
  .card-img-top{
    cursor: pointer;
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    
  }

h5{
   text-align: center;
 }
 p{
   margin: 1px;
 }
 h5{
    margin: 1px;
 }
input{
   height: 30px;
   background-color: rgb(75, 192, 186);
   border-radius: 10px;
   outline: none;
   color: #fff;
   width: 200px;
   border-color: rgb(233, 233, 86);
   position: fixed;
   right: 110px;
   margin-top: -75px;
   z-index: 2;
}
