@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

*{
  padding: 0;
  box-sizing: border-box;
}
body{
background: url("../src/Components/img/backgroundImage/fundo.jpg");
color:#000;
padding: 0;
font-family: 'Roboto', sans-serif;
background-attachment: fixed;
}
.page-item { 
  justify-content: space-between;
  display: inline-block;
  margin: 5px;
 
}
button{

  width: 80px;
  border-color:rgb(233, 233, 86) ;
  background-color: rgb(75, 192, 186);
  font-size: 15px;
  cursor: pointer;
}
 .footer{
  
  font-size: 10px;
  color: #fff;
}

 

